<!-- <mat-card class="flex justify-center items-center h-screen bg-slate-900">

  <button class="bg-teal-900 text-white px-4 py-3 rounded-md" mat-menu-item [routerLink]="'/report'"
    [routerLinkActive]="'mat-raised-button'">Iniciar Sesión</button>

</mat-card> -->


<section class="bg-gray-50 ">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0 ">
      <h2 class="text-6xl"><img src="../../../assets/logo.png" alt=""></h2>
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-medium leading-tight tracking-tight text-gray-900 md:text-2xl ">
          Iniciar sesión
        </h1>
        <form [formGroup]="formulario" class="space-y-4 md:space-y-6" >
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Correo</label>
            <input type="email" formControlName="email" 
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 -gray-400  "
              placeholder="ejemplo@gmail.com" required="">
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Contraseña</label>
            <input type="password" formControlName="password"  
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 -gray-400  "
              required="">
          </div>
          <div class="flex items-center justify-between">
           
            <a href="#" class="text-sm font-medium text-primary-600 hover:underline ">Olvidaste tu
              contraseña?</a>
          </div>

          <button class="bg-[#80b42d] w-full text-white  py-2 rounded-md" mat-menu-item   (click)="submitForm()"
           >
            Iniciar Sesión
          </button>


          
        </form>
      </div>
    </div>
  </div>
</section>